NEXT_PUBLIC_S3_ENDPOINT=https://x8h2.sg02.idrivee2-97.com
NEXT_PUBLIC_S3_ACCESS_KEY_ID=eZPYw1PCvOZ18jO1Q8ew
NEXT_PUBLIC_S3_SECRET_ACCESS_KEY=RQPmPC5eD04CPBPj19ZVi0gZCQumvcIkyaamywyu
NEXT_PUBLIC_S3_BUCKET=forums
NEXT_PUBLIC_S3_BUCKET_SERVER=forums
NEXT_PUBLIC_S3_REGION=sg

NEXT_PUBLIC_API_URL=http://localhost:8080/api